@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,400&display=swap');

.card-nota {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #fffafa;    border-radius: 4px;
    flex-wrap: wrap;
    padding: 16px;
    border: 1px solid #d3d3d3;
    margin: 5px;
  }
  .card-nota_cabecalho {
    font-size: 1.1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-nota_texto {
    margin-top: 8px;
    font-size: 1em;
  }
  
  .card-nota_titulo {
    font-size: 1.2em;
    margin-right: 12px;
    color: #fbc7c3;
  }